{% extends 'base.html.twig' %}
{% block body %}
<body>
    <style> #mapid { height: 750px; }
        #logo{height: 150px;}
        a{ align-items: center; display: flex; justify-content: space-between;}
    </style>
    <img id="logo" src="{{ asset('/build/images/logo.52dc2bfe.png') }}" alt=""><br>
    <a href="{{ path('country') }}">Country</a></br>
    <a href="{{ path('university') }}">University</a>
    <div id="mapid"></div>

    <script type="text/javascript">
        var mymap = L.map('mapid').setView([49.25, 4.0333], 3);
      
        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Imagery © <a href="mapbox:/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoiYWRlbGluZWI1MSIsImEiOiJja2loOWdlcmswNWNnMnptd2Jvb3l6MDA3In0.XbM3nj9P9Gd0daPf7tt4sg'
        }).addTo(mymap);

        var marker = L.marker([49.23840602490704, 4.003347257434664]).addTo(mymap);

        var circle = L.circle([49.25, 4.0333], {
        color: 'red',
        fillColor: '#f03',
        fillOpacity: 0.5,
        radius: 3000
        }).addTo(mymap);

        marker.bindPopup("<b>Neoma BS Reims</b><br>Bienvenue!").openPopup();

        circle.bindPopup("Welcome to Reims city");
    </script>
</body>

{% endblock %}
