{% extends 'base.html.twig' %}
{% block title %}Country{{ country.id }}{% endblock %}

{% block body %}

<div class="media">
  <div class="media-body">
    <ul>
      <li>{{ country.name }}</li>
    </ul>
  </div>
</div>
 
<a href="{{ path('country') }}">
    Retour à la liste des Pays
</a>

{% endblock %}