{% extends 'base.html.twig' %}
{% block title %}Country{{ country.id }}{% endblock %}

{% block body %}

<div class="media">
  <div class="media-body">
    <h1 class="mt-0">{{ country.name }}</h1>
  </div>
</div>
 
<a href="{{ path('country') }}">
    Retour à la liste des Pays
</a>

{% endblock %}