{% extends "base.html.twig" %}

{% block title %}New Opinion{% endblock %}

{% block body %}
    <h1>Share your experience !</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type='submit' value='Add my opinion'>
    {{ form_end(form) }}

    <a href="{{ path('opinion_show') }}">Back to all opinions</a>
{% endblock %}