{% extends 'base.html.twig' %}


{% block body %}
<div class="cost">
<h1>Costs</h1>
    <p>Average cost in this country for:</p>
    <p>Food is around {{ cost.food }} €.</p>
    <p>Transport during your stay will be {{ cost.transport }} €.</p>
    <p>Accomodation can be like {{ cost.accomodation }} €.</p>
    <p>Various extras like sport practice, social activities, etc... is most around {{ cost.extra }} €.</p>
</div>    
{% endblock %}