{% extends 'base.html.twig' %}

{% block body %}

<div class="live">
<h1>Life</h1>
    <h2>Culture</h2>
    <p>{{ live.culture }}</p>
    <h2>Live</h2>
    <p>{{ live.life }}</p>
</div>
{% endblock %}